body{
    background: #768070;
}

.media-container{
    max-width: 500px;
    margin: 0 auto;
}

.media-element{
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #888888;
}