<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for link, type in photo_links %}
    {% if type == 0 %}
        <img src="{{ link }}"><br>
    {% else %}
        <video autoplay loop muted>
            <source src="{{ link }}" type="video/mp4"/>
            <source src="{{ link }}" type="video/ogg"/>
            Your browser does not support the video tag.
        </video><br>
    {% endif %}
    <video width="480" controls>
        <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4"
                type="video/mp4"/>
        Your browser does not support the video tag.
    </video><br>
{% endfor %}


</body>
</html>